body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.principalSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pikachu{
  width:20rem;
}
button{
  background-color: blue;
  color: white;
  height: 3em;
  border-radius: 2em;
  margin: 1em;
}
#selectOption{
  width: 10em;
  height: 3em;
  text-align: center;
  font-size: 1em;
}
section{
  display: flex;
}

.detailsPokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#finalPokemon{
  width:15em;
}
